.nav{
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
input{
  height: 16px;
}
a{
  text-decoration: none;
  color: black
}

.Header{
  height: 80px;
  background-color:rgb(70, 0, 161);
}