/* Profile */
.profile{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-content: space-around;
  margin: 15px;
  grid-template-areas: 
      "profile posts"
      "profile posts";
}

.avatar{
  justify-self: left;
  max-height: 150px;
}
.user{
  grid-area: profile;
  justify-self: left;
  display: grid;
}
.createPost{
  max-width: 200px;
  justify-self: center;
}
.headerImageProfile{
  width: 100%
}

/* Posts */
.post-list{
  grid-area: posts;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 15px;
}
.post-card{
  margin: 15px;
}
