
/* Color Palette */
:root
{
  --dark: #0c0d07;
  --mid: #a7423a;
  --light: #7da2b9;
  --grey: #404040;
  --yellow: #f0ebaf;
  --dark-color: #314021;
  --light-color: #ab93a8;
  --transition: all 0.3s ease-in-out;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

