
a{
  text-decoration: none;
  color: black;
}

.Header{
  font-family: 'Space Grotesk', sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--yellow);
  border: 2px rgb(230, 211, 151) groove;
  background: rgb(214,194,130);
  background: linear-gradient(90deg, rgba(214,194,130,1) 3%, rgba(180,143,75,1) 23%, rgba(227,205,127,1) 65%, rgba(182,148,77,1) 90%);
}

button.searchUser{
  overflow: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.home{
  width: 50px;
  margin-left: 20px;
  filter: brightness(100%);
  transition: filter .5s;
}

.home:hover{
  filter: brightness(150%);
}

.pageName{
  grid-column: 3;
  color: var(--dark);
  font-family: 'Space Grotesk', sans-serif;
}

.searchbarContainer{
  display: flex;
  grid-column: 5;
  justify-content: end;
  align-items: center;
}

#myInput{
  height: 1.2rem;
  border: 2px var(--yellow) inset;
}

.searchInputContainer{
  grid-column: 4;
}

.profileButton{
  display: grid;
  justify-self: end;
  grid-column: 5;
  font-size: 14px;
  margin: 3px 20px 8px 4px;
  width: 50px;
}