.postShow h1 {
  color: var(--mid);
}

.postShow {
  color: var(--light-color);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-around;
  margin: 15px;
  grid-template-areas: 
      "posts comments"
      "posts comments"
      "remove comments";
}

.deleteButtonContainer{
  grid-area: remove;
}

.postDiv {
  margin: 20px;
  grid-area: posts;
  border: solid;
  background-color: var(--green);
  border-radius: 4px;
  border: 1px rgb(13, 13, 13) solid;
}

.userNamePostLink{
color : var(--light);
}

.postDiv img {
  box-shadow: var(--light) -5px 5px, var(--mid) -10px 10px;
  width : 80%;
}

/* Delete button */
.delete {
  background: var(--mid);
  border: 1px solid var(--mid);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: var(--transition);
}

.delete:hover,.delete:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--mid);
}

.delete:active{
  opacity: .1;
}
