.updateProfileDiv{
  margin-top: 50px;
  color: var(--mid)
}


input.updateProfileBtn
{
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px rgba(182,148,77,1);
  background-image: linear-gradient(45deg, rgba(180,143,75,1) 0%, rgb(202, 182, 114)  51%, rgba(182,148,77,1)  100%);
  border: 2px rgba(180,143,75,1) ridge;
  cursor: pointer;
  padding: 2px 4px;
  filter: brightness(100%);
  transition: filter .5s;
  transition: var(--transition);
  cursor: pointer;
  letter-spacing: 0.06rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input.updateProfileBtn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: white;
  text-decoration: none;
}

.updateProfileBtn :hover
{
  filter: brightness(120%);
  /* background-color: var(--secondary-color); */
  /* color: var(--light-color); */
  border: 2px solid var(--yellow);
  border-radius: 0.5rem;
}