section{
  display: grid;
}
h1{
  color: var(--mid);
}
.welcomeContainer{
  color: var(--mid);
  display: grid;
  justify-self: center;
  background-color: var(--green);
  width: 60%;
  height: 140%;
  margin-top: 8%;
}