.commentsOnPost{
 color : whitesmoke;
 grid-area: comments;
 margin-top: 20px;
}

.createCommentDiv{
  margin-top: 20px;
}

.commentsContainer{
  margin: 0 24px;
  padding-bottom: 16px;
  background-color: var(--green);
  border-radius: 4px;
  border: 1px rgb(13, 13, 13) solid;
}

label input{
  height: 1.2rem;
  border-radius: 1px;
  background: rgba(88, 88, 88, 0.15);
}

input.commentBtn{
  margin: 0 0 0 8px;
  text-align: center;
  width: fit-content;
  color: var(--dark);
  font-size: 14px;
  font-weight: 600;
  padding: 7px 14px;
  background-color: rgb(207, 163, 67);
  border: none;
  border-radius: 8px;
  transition: var(--transition);
  cursor: pointer;
}

input.commentBtn:hover{
  background-color: rgb(226, 188, 105);
  scale: 1.04;
  color: white;
  text-decoration: none;
}

.commentBtn :hover{
  filter: brightness(120%);
  border: 2px solid var(--yellow);
  border-radius: 0.5rem;
}