.updateProfileDiv{
  display: grid;
  margin-top: 104px;
  background-color: var(--green);
  width: 60%;
  justify-self: center;
  color: var(--mid)
}

input.updateProfileBtn{
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  background-size: 200% auto;
  background-color: transparent;
  background-image: linear-gradient(45deg, rgba(180,143,75,1) 0%, rgb(202, 182, 114)  51%, rgba(182,148,77,1)  100%);
  border: 2px rgba(180,143,75,1) ridge;
  border-radius: 5px;
  box-shadow: 0px 0px 14px -7px rgba(182,148,77,1);
  padding: 4px 8px;
  filter: brightness(100%);
  transition: filter .5s;
  transition: var(--transition);
  cursor: pointer;
  letter-spacing: 0.06rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input.updateProfileBtn:hover {
  background-position: right center;
  text-decoration: none;
}